<h2>Редактировать профиль</h2>
<!-- Боковое меню -->
<div class="sidebar">
  <%= render 'shared/menu' %>
</div>
<%= form_with(model: @user, url: profile_path, method: :patch, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :nickname, "Никнейм пользователя" %>
    <%= f.text_field :nickname, class: "form-control" %>
  </div>

  <%# Если настроен ActiveStorage для изображений %>
  <div class="form-group">
    <%= f.label :avatar, "Аватар" %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <%# - конец блока ActiveStorage %>

  <div class="form-group">
    <%= f.submit "Сохранить изменения", class: "btn btn-primary" %>
  </div>

  <%= link_to "Изменить почту или пароль", edit_user_registration_path %>
  <div>
    <%= link_to "Выйти без изменений", request.referrer || root_path %>
  </div>
<% end %>
