<div class="container">

  <!-- Боковое меню -->
  <div class="sidebar">
    <%= render 'shared/menu' %>
  </div>

  <!-- Основной контент -->
  <div class="main-content">

    <h1 class="centered-header">Список пользователей</h1>

    <%= form_with(url: profiles_path, method: :get, local: true, class: 'search-box mb-3') do |f| %>
      <%= f.text_field :search, placeholder: "Поиск по никнейму или почте", class: "search-input" %>
      <%= f.submit "Поиск", class: "btn btn-primary" %>
    <% end %>

    <p><%= @search_info %></p>

    <table class="table">
      <thead>
      <tr>
        <th>Никнейм</th>
        <th>Email</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nickname %></td>
          <td><%= user.email %></td>
          <td>
            <div class="flex-container">
              <% if current_user == user %>
                <span>Это ваш профиль</span>
              <% else %>
                <span class="user-action">
                  <%= link_to "Посмотреть профиль", user_profile_path(user) %>
                </span>
                <span class="user-action">
                 <% if current_user.following?(user) %>
                    <%= button_to "Отписаться",
                                  relationship_path(current_user.relationship_with(user)),
                                  method: :delete, class: "follow-button" %>
                  <% else %>
                    <%= button_to "Подписаться", relationships_path(followed_id: user.id), method: :post, class: "follow-button" %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
