<div><strong><%= post.user.email %></strong></div>
<div><%= post.description %></div>
<div class="d-flex align-items-center">
  <% liked = user_like(post) %>
  <% if liked %>
    <%= button_to "Удалить лайк", like_path(liked), method: :delete, remote: true, data: { post_id: post.id, action: "unlike" }, id: "unlike-button-#{post.id}" %>
  <% else %>
    <%= button_to "Лайк", likes_path(post_id: post.id), method: :post, remote: true, data: { post_id: post.id, action: "like" }, id: "like-button-#{post.id}" %>
  <% end %>
  <span class="ml-2" id="post-<%= post.id %>-likes"><%= post.likes.count %> <%= russian_pluralize(post.likes.count, 'лайк', 'лайка', 'лайков') %></span>
  <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#commentsModal-<%= post.id %>">
    Комментарии
  </button>
</div>

<!-- Модальное окно для комментариев -->
<%= render partial: 'comments_modal', locals: { post: post } %>
